Content-type: text/html

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN">
<html>
  <head>
    <title>GOliath Gene Ontology Search System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<!--    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Pablo+Impallari"> -->
   <link href="goliath.css" rel="stylesheet" type="text/css">
   <script src="jquery-3.4.1.min.js"></script>
  </head>
  <body>
    <div id="header"><img src="goliath_logo.png" title="GOliath Gene Ontology Search System" alt="GOliath Gene Ontology Search System"><br><a href="www.bioinformatics.babraham.ac.uk/projects/goliath/">www.bioinformatics.babraham.ac.uk/projects/goliath/</a></div>
