<!-- TMPL_INCLUDE NAME="header.html" -->

<script src="jquery-3.7.1.min.js"></script>
<script src="datatables.min.js"></script>
<script src="buttons.flash.min.js"></script>
<script src="buttons.html5.min.js"></script>
<script src="buttons.print.min.js"></script>
<script src="vfs_fonts.js"></script>

<script>
  function disableBackground (option) {
    if (option.value == "Ordered") {
      document.getElementById("background").disabled = true;
      document.getElementById("background").style.backgroundColor = "#DDDDDD";
    }
    else {
      document.getElementById("background").disabled = false;
      document.getElementById("background").style.backgroundColor = "#FFFFFF";

    }
  }
  
  //1st part- making sure only numbers are typed
  function isNumberKey(evt){
      var charCode = (evt.which) ? evt.which : event.keyCode
      if (charCode > 31 && (charCode < 48 || charCode > 57))
  return false;
      return true;
  }    
  //*ends - allowing only numbers

  //2nd part - validates only numbers with in the range 0 to 10 is typed in
  function checkMax(value, min, max) 
  {
      if(parseInt(value) < 10 || isNaN(value)) 
          return 10; 
      else if(parseInt(value) > 10000) 
          return "10000"; 
      else return value;
  }
  
//*ends - number range validation
  
 
</script>

<h2>Welcome to GOliath</h2>

<form action="goliath.cgi" method="POST">

<table>
  <tr>
    <th>Select species</th>
    <td>
      <select id="species" name="species">
	<!-- TMPL_LOOP NAME=SPECIES -->
	<option><!-- TMPL_VAR NAME=SPECIES --></option>
	<!-- /TMPL_LOOP -->
      </select>
    </td>
  </tr>
  <tr>
    <th>Min Category Size</th>
    <td>
      <input type="text" name="minsize" value="50" ></input>
    </td>
  </tr>
  <tr>
    <th>Max Category Size</th>
    <td>
      <input type="text" name="maxsize" value="500" onkeypress="return isNumberKey(event)" onkeyup="this.value = checkMax(this.value, 10, 10000)"/></input>
    </td>
  </tr>
<!--  <tr>
    <th>List type</th>
    <td>
      <select name="list_type" onchange="disableBackground(this)">
	<option>Unordered</option>
  <option>Ordered</option>  
      </select>
    </td>
  </tr>
-->
  <tr>
    <th>Gene List</th>
    <th>Background List (optional)</th>
  </tr>

  <tr>
    <td>
      <textarea id="gene_list" name="gene_list" rows=20 cols=40, placeholder="Paste Gene Names here"></textarea>
    </td>

    <td>
      <textarea id="background" name="background_list" rows=20 cols=40, placeholder="Paste Gene Names here"></textarea>
    </td>
  </tr>
    <tr>
    <td colspan=2>
      <input type="text" name="name" placeholder="Query name (optional)"></input>
    </td>
  </tr>

</table>




<!-- <p class="left"> -->
<p class="center" style="margin-top: 5px;margin-bottom: 5px;"> 
  <input type="button" class="button" id="useEgSetButton" value="Mouse example genes" 
  style="padding-left: 0.3em;padding-right: 0.3em;padding-top: 0.3em;padding-bottom: 0.3em;">

  <input type="button" class="button" id="useYeastEgSetButton" value="Yeast example genes" 
  style="padding-left: 0.3em;padding-right: 0.3em;padding-top: 0.3em;padding-bottom: 0.3em;">
</p>

<p class="center">
  <input type="submit" name="submit" id="analyse_list_button" value="Analyse my list">
</p>

</form>

<!-- TMPL_INCLUDE NAME="javascript.html" -->
<!-- TMPL_INCLUDE NAME="footer.html" -->
